<span class="flex items-center" href="#">
            <img src="assets/demo/images/logo/TradexCoinLogo.png" alt="Logo" class="h-16 mr-2">
            <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal mr-20">SignalSwaps</span>
        </span>

        <span pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:hidden!" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-2xl!"></i>
        </span>

        <div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
            <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
                <li>
                    <a (click)="scrollToSection('home')" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl cursor-pointer">
                        <span>Wallet</span>
                    </a>
                </li>
                <li>
                    <a (click)="scrollToSection('features')" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl cursor-pointer">
                        <span>Coins</span>
                    </a>
                </li>
                <li>
                    <a (click)="scrollToSection('highlights')" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl cursor-pointer">
                        <span>Swap to Earn</span>
                    </a>
                </li>
                <li>
                    <a (click)="scrollToSection('pricing')" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl cursor-pointer">
                        <span>Buy Crypto</span>
                    </a>
                </li>
            </ul>
            <div class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
                <button pButton pRipple label="Login" routerLink="/auth/login"  severity="info" ></button>
                <button pButton pRipple label="Register"  routerLink="/auth/register"   severity="warn"></button>
                <app-floating-configurator [float]="false"/>
            </div>
        </div> 