/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo-image-after-login{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}